---
http_interactions:
- request:
    method: get
    uri: https://api.spoonacular.com/recipes/complexSearch?apiKey=a3a3802becfc4d6eaaa3caeb1f15ecdd&number=3&query=Italian
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow-Control-Allow-Origin:
      - "*"
      Allow-Control-Allow-Methods:
      - GET, HEAD, POST, OPTIONS, DELETE, PUT
      X-Api-Quota-Request:
      - '1.03'
      X-Api-Quota-Used:
      - '3.09'
      X-Api-Quota-Left:
      - '146.91'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":648279,"title":"Italian Tuna Pasta","image":"https://spoonacular.com/recipeImages/648279-312x231.jpg","imageType":"jpg"},{"id":648119,"title":"Italian
        Fig Cookies","image":"https://spoonacular.com/recipeImages/648119-312x231.jpg","imageType":"jpg"},{"id":648183,"title":"Italian
        Panna Cotta","image":"https://spoonacular.com/recipeImages/648183-312x231.jpg","imageType":"jpg"}],"offset":0,"number":3,"totalResults":275}'
  recorded_at: Fri, 02 Jun 2023 21:54:07 GMT
recorded_with: VCR 6.1.0
